<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.cdtime.lifecapsule_v3_api.meta.admin.dao.AdminStatisticDao">
    <!--配置表和对象的字段映射 -->
    <resultMap id="adminStatisticMap" type="cc.cdtime.lifecapsule_v3_api.meta.admin.entity.AdminStatisticView">
        <result property="userId" column="user_id"/>
    </resultMap>
    <resultMap id="noteMap" type="cc.cdtime.lifecapsule_v3_api.meta.note.entity.NoteView">
        <result property="userId" column="user_id"/>
        <result property="noteId" column="note_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--统计用户登录次数-->
    <select id="totalUserLogin" parameterType="map" resultMap="adminStatisticMap">
        select count(*) as total, user_id
        from user_login_log
        where 1 = 1
        <choose>
            <when test="startTime!=null">
                and login_time > #{startTime}
            </when>
        </choose>
        <choose>
            <when test="endTime!=null">
                <![CDATA[
          and login_time < #{endTime}
        ]]>
            </when>
        </choose>
        group by user_id
        order by total desc
        limit #{size} offset #{offset}
    </select>

    <select id="listNoteInfo" parameterType="map" resultMap="noteMap">
        select ni.ids,
               note_id, ni.user_id,
               title,
               ni.create_time,
               ni.status,
               nickname,
               email
        from note_info ni
                 left join user_base ub on ni.user_id=ub.user_id
                 left join user_email ue on ni.user_id=ue.user_id
        order by create_time desc
            limit #{size}
    </select>

</mapper>