<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.cdtime.lifecapsule_v3_api.meta.creativeNote.dao.CreativeNoteDao">
    <!--配置表和对象的字段映射 -->
    <resultMap id="creativeNoteMap" type="cc.cdtime.lifecapsule_v3_api.meta.creativeNote.entity.CreativeNote">
        <result property="creativeNoteId" column="creative_note_id"/>
        <result property="noteId" column="note_id"/>
        <result property="creativeType" column="creative_type"/>
    </resultMap>

    <!--创建一个防拖延笔记-->
    <insert id="createCreativeNote"
            useGeneratedKeys="true"
            parameterType="cc.cdtime.lifecapsule_v3_api.meta.creativeNote.entity.CreativeNote">
        insert into creative_note
            (creative_note_id, note_id, creative_type)
        values (#{creativeNoteId}, #{noteId}, #{creativeType})
    </insert>

    <!--创建笔记详情-->
    <insert id="createContent"
            parameterType="cc.cdtime.lifecapsule_v3_api.meta.creativeNote.entity.CreativeNote">
        insert into content_detail
            (index_id, content)
        values (#{creativeNoteId}, #{content})
    </insert>

    <!--读取防拖延笔记列表-->
    <select id="listCreativeNote" parameterType="map" resultMap="creativeNoteMap">
        select cn.ids,
        creative_note_id,
        note_id,
        creative_type,
        content
        from creative_note cn
        left join content_detail cd on creative_note_id = index_id
        where 1 = 1
        <choose>
            <when test="noteId!=null">
                and note_id=#{noteId}
            </when>
        </choose>
    </select>

    <!--更新防拖延笔记的内容-->
    <update id="updateCreativeNoteDetail" parameterType="map">
        update content_detail
        set content=#{content}
        where index_id = #{creativeNoteId}
    </update>

    <!--物理删除一个防拖延笔记-->
    <delete id="deleteCreativeNote" parameterType="java.lang.String">
        delete
        from creative_note
        where note_id = #{noteId}
    </delete>
    <delete id="deleteCreativeNoteContent" parameterType="java.lang.String">
        delete
        from content_detail
        where index_id = #{noteId}
    </delete>
</mapper>